@charset "UTF-8";

/*font - Blinker*/
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@400;600;700&display=swap');

/*font-Alice*/
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

/*font-kronaOne*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root{
    --cor1: #222601;
    --cor2: #B9BF04;
    --cor3: #BFB304;
    --cor4: #8C8303;
    --cor5: #595302;
    --preto: black;
    --cinza: gray;

    --font-alice: 'Alice', serif;
    --font-blinker: 'Blinker', sans-serif;
    --font-kronaone: 'Krona One', sans-serif;

}

#tela_entrar_login{
    position: relative;
    background-color: white;
}

#tela_entrar_login .card{
    position: absolute;
    right: 11%;
    padding: 110px 0px;
    /* top: 28%; */
    width: 80%;
    margin: auto;
    border: 0px;
}

#tela_entrar_login .card-body{
    position: relative;
    padding-top: 0px;
}

#tela_entrar_login .card-title{
    font-family: var(--font-alice);
    font-size: 70px;
    text-shadow: 2px 2px rgba(195, 194, 194, 0.792);
    color: var(--cor4);
    margin-bottom: 45px;
}

#tela_entrar_login .formulario{
    position: relative;
    width: auto;
}

#tela_entrar_login .form-control{
    position: relative;
    width: 70%;
    margin: auto;
    background-color: rgb(231, 226, 226);
    box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.34);
    color: var(--cor4);

}

#tela_entrar_login .form-control:focus, 
#tela_entrar_login .form-control:hover{
    font-family: var(--font-blinker);
    font-size: 17px;
    color: var(--cor4);
    border-color: var(--cor4)
}

#tela_entrar_login .form-control::placeholder{
    font-family: var(--font-blinker);
    font-size: 20px;
    color: var(--cor4);
}

#tela_entrar_login #esqueceu_senha{
    font-family: var(--font-blinker);
    color: var(--cor4);
    font-size: 14px;
    float: left; 
    width: 60%;
    margin-top: 7px;
}


#tela_entrar_login #btn_entrar{
    font-family: var(--font-kronaone);
    background-color: var(--cor4);
    color: white;
    border: 2px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 20px ;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.505);
}

#tela_entrar_login #btn_entrar:hover{
    background-color: var(--cor3);
    color: white;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.59);
    
}

#tela_entrar_login .texto{
    
    font-family: var(--font-kronaone);
    font-size: 10px;
    margin-top: 20px;
}

#tela_entrar_login #btn_cadastrar{
    font-family: var(--font-blinker);
    background-color: var(--cor4);
    font-size: 10px;
    color: white;
    padding: 0px;
    border: 2px;
    border-radius: 20px ;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.505);
}

#tela_entrar_login #btn_cadastrar:hover{
    background-color: var(--cor3);
    color: white;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.59);
    
}